.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.btn {
  color: blue
}

.input {
  width: 20%;
}

.button_red {
  color: red;
}


.button_grey {
  color: grey;
}

.addClass {
  color: green;
  border-radius: 0%;
  width: auto;

}

.delClass {
  color: red;
}

.space {
  width: auto;
  height: 30px;
  display: inline-block;
  border-radius: 15%;
}